/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* VARIABLES */
:root {
    --header-height: ;

    --hue-color: ;

    --first-color: ;
    --first-color-second: ;
    --first-color-alt: ;
    --first-color-lighter: ;
    --title-color: ;
    --text-color: ;
    --text-color-light: ;
    --input-color: ;
}